_image/
_tmp/
ansible/

hypernetes/.vagrant
hypernetes/roles/common/files/github/deploy.pem
hypernetes/roles/common/vars/main.yml

ceph/.vagrant
ceph/ceph-ansible
ceph/Vagrantfile
ceph/*.deb
ceph/*.rpm
ceph/ansible

imaged/.vagrant
imaged/site.yml
imaged/roles/common/vars/main.yml

libvirt/.vagrant

kubernetes/.vagrant
